<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Добро пожаловать</h1>
<h3>{{variableName}}</h3>
{{#users}}
<div>
    <b>{{id}}</b>
    <span>{{username}}</span>
    <i>{{password}}</i>
</div>
{{/users}}
<div><a href="/main">Main page</a></div>
<div><a href="/login">Login page</a></div>
</body>
</html>