<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/greeting.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<div class="page">
    <div class="page__content">
        <header>
            <nav class="nav-block yellow darken-3">
                <div><a href="/main">Main page</a></div>
                <div><a href="/login">Login page</a></div>
            </nav>
            <div class="header__info">
                <p>
                    Welcome to our chat! It is still under development, so if you have any problems, please contact us!
                </p>
                <p>
                    The following users are currently registered in our chat:
                </p>
            </div>
        </header>
        <main>
            {{#users}}
                <ul>
                    <li>
                        <b>{{id}}</b>
                        <span>{{username}}</span>
                        <span>{{password}}</span>
                    </li>
                </ul>
            {{/users}}
        </main>
    </div>
</div>
</body>
</html>