<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href="../styles/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <div><h3 class="sign-in">Sign in</h3></div>
        <div class="header__button">
            <button class="waves-effect waves-light btn  yellow darken-3">
                <a href="/registration">Sign Up</a>
            </button>
        </div>
    </div>
    <main>
        <form action="/login" method="post">
            <div class="input-field">
                <input class="input-field" id="username" type="text" name="username"
                /><label for="username"> Username</label>
            </div>
            <div class="input-field">
                <input class="input-field" id="password" type="password" name="password"
                /><label for="password">Password</label>
            </div>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <div class="main">
                <button class="waves-effect waves-light btn yellow darken-3 main__button" type="submit">Sign In
                </button>
            </div>
        </form>
    </main>
</div>
</body>
</html>
