<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Web chat</title>
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../js/updatingChat.js"></script>
</head>
<body>
<div class="page">
    <div class="page__content">
        <header>
            <nav class="nav-block yellow darken-3">
                <div>Chat</div>
                <div>
                    {{username}}
                    <form action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                        <button class="waves-effect waves-light btn yellow darken-3 main__button" type="submit">
                            LogOut
                        </button>
                    </form>
                </div>
            </nav>
        </header>
    </div>
</div>
<main class="chat">
    {{#messages}}
        <div>
            <b>{{name}}:</b>
            <span>{{message}}</span>
        </div>
    {{/messages}}
</main>
<form action="/main" method="post" class="message-block">
    <div class="input-field">
        <input class="input-field" id="message" type="text" name="message"
        /><label for="message">Message</label>
    </div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <div class="main">
        <button class="waves-effect waves-light btn yellow darken-3 main__button" type="submit">
            Send
        </button>
    </div>
</form>
</body>
</html>