*, *:after, *:before {
    box-sizing: border-box;
}

html, body {
    background: #1a1f25;
    color: white;
    height: 100%;
}

a {
    color: white !important;
}

.container {
    width: 400px !important;
    padding-top: 15%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__button {
    padding-top: 12px;
}

.main {
    padding-top: 12px;
    width: 100%;
}

.main__button {
    width: 100%;
}

nav.nav-block {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    font-size: large;
}

.header__info {
    text-align: center;
    font-size: 30px;
}

.header__info p:last-child {
    text-decoration: underline;
}

main {
    text-align: center;
    font-size: 200px;
    padding-top: 300px;
    color: #f9a825;
}