.page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.page__content {
    border: 1px solid gray;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);;
}

fieldset {
    display: flex;
    flex-direction: column;
}

fieldset label {
    display: block;
    padding: 15px;
}

footer {
    text-align: center;
    padding-top: 20px;
}