*, *:after, *:before {
    box-sizing: border-box;
}

html, body {
    background: #1a1f25;
    color: white;
    height: 100%;
}

a {
    color: white !important;
}

.container {
    width: 400px !important;
    padding-top: 15%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__button {
    padding-top: 12px;
}

.main {
    padding-top: 12px;
    width: 100%;
}

.main__button {
    width: 100%;
}

/* label color */
.input-field label {
    color: #f9a825 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
}

.input-field input[type=password]:focus {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
}

#password,#username {
    color: white !important;
}